.red{
    color: red;
  }
  
.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.Button {
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-bottom: 1px solid rgb(80, 80, 80);
    border-right: 1px solid rgb(80, 80, 80);;
    padding: 32px;
    background-color: darkGreen;
    font: inherit;
    color: white;
    cursor: pointer;
}

.Button:hover{
    background-color: lightgreen;
    color:black;
}

.Button.Red {
    background-color: darkred;
}

.Button.Red:hover {
    background-color: salmon;
    color: black
}